.button {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: gray;
    transform: translate(0,0) rotateY(0) skewY(0);
    transition: 0.5s;
    margin: 0 auto;
}
.button:hover{
    transform: translate(-15px, -5px) rotateY(-15deg) skewY(-10deg);
}
.button:hover i{
    color: white;
}
.button i {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 10;
    transition: 1s;
}
.button span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0,0);
    transition: 1s;
}
.button span:nth-of-type(4){
    transform: translate(-4px, -4px);
    z-index: 0;
    opacity: 0.5;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.button:hover span:nth-of-type(1){
    transform: translate(8px, 4px);
    background-color: #707070;
}
.button:hover span:nth-of-type(2){
    transform: translate(16px, 8px);
    background-color: #606060;
}
.button:hover span:nth-of-type(3){
    transform: translate(24px, 12px);
    background-color: #505050;
}
.button span:nth-of-type(4)::before{
    content: '';
    position: absolute;
    width: 0; height: 100%;
    top: 0; left: 0;
    border-bottom: 1px solid gray;
    transition: 0.2s;
}
.button span:nth-of-type(4)::after{
    content: '';
    position: absolute;
    width: 100%; height: 0;
    top: 100%; left: 0;
    border-right: 1px solid gray;
    transition: 0.2s;
}
.button:hover span:nth-of-type(4)::before{
    width: 100%;
    transition-delay: 0.4s;
    border-bottom: 2px solid black;
}
.button:hover span:nth-of-type(4)::after{
    height: 100%;
    transition-delay: 0.6s;
    border-right: 2px solid black;
    top: 0;
}
.button:hover span:nth-of-type(4){
    transform: translate(30px, 16px);
    transition-delay: 0.2s;
}